{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content%}

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold"> Ready to detect whale calls?</h1>

    <div class="col-lg-6 mx-auto">
        <p class="lead text-muted"> Help reducing the impact of commercial shipping on the ocean's environment,
            especially
            as it relates to the influence of cumulative noise “footprints” on the great whales.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Detect
            </button>
        </div>
    </div>
</div>

{% with failures = get_flashed_messages(category_filter=["failure"]) %}
{% if failures %}
<div class="position-absolute bottom-0 end-0" style="padding: 2px;">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{failures[0]}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" asria-label="Close"></button>
    </div>
</div>
{% endif %}
{% endwith %}

{% with successes = get_flashed_messages(category_filter=["success"]) %}
{% if successes %}
<div class="position-absolute bottom-0 end-0" style="padding: 2px;">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{successes[0]}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endif %}
{% endwith %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload audio file</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <!--                    <label for="formFile" class="form-label">Default file input example</label>-->
                    <input class="form-control" type="file" id="formFile">
                </div>
            </div>
            <div class="modal-footer">
                <form action="/classify/predict" method="post">
                    <button name="saveChanges" value="saveChanges" class="btn btn-primary" data-bs-dismiss="modal">
                        Submit
                    </button>
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block additionalJs %}
console.log('hello');


const fileElem=document.querySelector('#formFile');
if (fileElem){
fileElem.addEventListener('change', function (e) {
console.log('Detected a file input change');
let file = fileElem.files[0];
let formData = new FormData();

formData.append("file", file);
fetch('/classify/upload', {method: "POST", body: formData});
})
}

{% endblock %}